<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>calendar</h1>
    <!--div id='calendar'></div-->

    <iframe src="https://www.mobile-calendar.com/widget/widget_calendar.php?id=540591d55f03522b3cec51fd2366c095de242&view=31&data=&room_id=&show_room_names=true&show_room_types=true" width="800px"  height="800px" frameborder="0" style="border:0"></iframe>


   <a class="btn btn-primary" href="https://www.mobile-calendar.com/widget_calendar.php?id=540591d55f03522b3cec51fd2366c095de242&view=31&data=&room_id=&show_room_names=true&show_room_types=true">Get Available Room</a>
{% endblock %}
